
<section class="topo">
    <header>
      <p>Mikeila e luana </p>
      <nav>
        <ul>
          <li><a>Home</a></li>
          <li><a>Home</a></li>
          <li><a>Home</a></li>
        </ul>
      </nav>
      <a class="botao">Contato</a>
    </header>
    <main>
      <div class="competencias">
        <p>inovativo</p>
        <div class="bolinha"></div>
        <p>gente boa! , Sou sincera </p>
        <div class="bolinha"></div>
        <p>tenho muito azar,cabelo cacheado</p>
      </div>
      
      <h1>estudade de lógica de programação e estudante do ensino médio</h1>
      <p>
        Quero ser arquiteta,ter uma coleção de carros,e ter um salto alto da
        ysl, quero ser juiza me formar em uma faculdade do exterior e ter um apartamento em NY
      </p>
      <div class="botoes">
        <a>Meus trabalhos</a>
        <a>Sobre mim</a>
      </div>
    </main>
  </section>
