<h1>Projetos</h1>
<div class="projeto-grid">
  <div class="projeto" (click)="abreProjeto('piadas')">
    <h3>App de piadas</h3>
    <img src="/assets/img/calculadora.png" alt="=Imagem projeto 2">
    <p>app de piadas e tradutor</p>
  </div>
  <div class="projeto">
    <h3>BLOCO DE NOTAS</h3>
    <img src="/assets/img/Logo_Bloco_de_Notas-pt.png.jpg" alt="Imagem Projeto 2" />
    <p>Coloque suas informações em um ambiente seguro</p>
  </div>

  <div class="projeto">
    <h3>PALAVRAS CRUZADAS</h3>
    <img src="/assets/img/Palavras cruzadas.png.jpg" alt="Imagem Projeto 1" />
    <p>Aumente sua capacidade cognitiva com este projeto</p>
  </div>

  <div class="projeto">
    <h3>LISTA DE TAREFAS</h3>
    <p>Liste suas tarefas de forma inteligente</p>
  </div>
</div>

  

 

  
