<section class="fundo">
    <article>
        <h1>sobre mim </h1>
        <p>
            sou mikeila quaresma, estudante do ensino medio estou fazendo curso de lógica de programação,
            quero um dia ter uma coleção de carros caros, poder comprar um salto da yls, quero comprar uma guitarra, ser uma arqutiteta. 
        </p>
        <p>
            no meu tempo livre gosto de fazer as unhas, fazer meu cronograma capilar, estucar músicas,
            testar roupas que eu nunca usaria, testa meu novos produtos, ver desenho animado, assistir filmes e séries,
            ler meus livros, ver muito filmes de terror, historias hurbanas, gosto de testar meus gloss, fazer penteaods, gosto de ver edts de carros.
            
            Sou Luana Antunes , estudante do ensino médio estou cursando logica de programação um dia quero ter meu apartamento 
            em NY e viajar muito conhecendo outras culturas e ajudando pessoas

            no meu tempo livre gosto de fazer pastas no meu pinterest e assistir filmes e séries antigos que se passam em paris
            adorooo escutar música sem isso não sou nada, amo ler livros sobre todos os g~eneros mas principalmente sobre ficção cientifica e romance
            adoro fazer comprinhas tbm, no futuro gostaria de ter uma coleção de saltos vintages e casacos de pele tipo os da cruella mas sintéticos pq não sou louca
            tambem.
        </p>
    </article>
    <figure>
        <img src="assets/img/luana e mika.jpg">
    </figure>
</section>

