<header>
      <a>Voltar para o Portfolio</a>
      <h1>Buscador de piadas</h1>
</header>
<div class="container">
    <img src="/assets/img/flor havaiana.webp">
    <div class="botoes">
        <button> Piada Chuck Norris</button>
        <button> Piada Aleatória</button>
        <button> Piada de Programador</button>
    </div>
    <table>
       <tr>
                <th> Piadas em Ingles</th>
                <th>Piadas em Portugues </th>    
         </tr>
         <tr>
            <td>{{ piada.piada_ingles}}</td>
            <td>{{piada.piada_portugues}}</td>
         </tr>
    </table>
</div>



